#textToRead{
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}
.footer-div{
  background-color: black;
  padding: 8px;
  text-align: center;
  font-size: 12px;
  color: #fff;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
}